{
  "extends": "aftership",
  "plugins": [
    "json"
  ],
  "rules": {
    // disable rules from base configurations
    "indent": ["error", 2],
    "comma-dangle": ["error"],     // disallow trailing commas in object literals
    "no-new-require": "off",
    "operator-assignment": "off",
    "linebreak-style": "off"
  },
  "globals": {
    "HttpResponseError": true,
    "ValidationError": true,
    "HttpStatusCode": true
  }
}
